* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border-top: 10px solid #1098ad;
}

.container {
  font-family: sans-serif;
  color: #444;

  width: 1000px;
  /* https://stackoverflow.com/questions/4955122/what-exactly-is-needed-for-margin-0-auto-to-work */
  margin: 0 auto;
}
.site-heading {
  font-size: 20px;
}

.site-header {
  background-color: #f7f7f7;
  color: #1098ad;
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 60px;
}

.main-row {
  display: flex;
  justify-content: space-between;
}

.ul-nav {
  display: flex;
  gap: 30px;
}
.site-nav a {
  text-decoration: none;
}

.ul-list-item {
  list-style: none;
}

.ul-list-item a {
  color: #1098ad;
}

.laura-img {
  width: 50px;
  height: 50px;
}

.post-img {
  width: 100%;
  /* width:500px; */
}

.html-article-header h2 {
  color: #1098ad;
  font-size: 36px;
  margin-bottom: 40px;
}

.author {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.author p {
  font-style: italic;
}

main {
  width: 70%;
}

.related img {
  width: 50px;
  height: 50px;
}

.related {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.related-posts-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.related-posts-section h5 {
  color: #1098ad;
}

.related-post-info {
  display: flex;
  flex-direction: column;
  flex-basis: 100px;
  gap: 5px;
}

.related-post-info p {
  font-size: 12px;
  font-style: italic;
}

aside h4 {
  text-transform: uppercase;
}

.html-article-header {
  margin-bottom: 30px;
}

.related-posts {
  background-color: #efecec;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 432px;
  width: 220px;

  /* color: white; */
}

.related-posts h4 {
  align-self: center;
}
.related-posts::before,
.related-posts::after {
  border: 3px solid #1098ad;
  /* it has to be a block, so we inherit width */
  display: block;
  /* width: inherit; */
  content: '';
}

.section {
  line-height: 1.4;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.section p {
  margin-bottom: 25px;
}

.list {
  padding-left: 50px;
  margin-bottom: 25px;
}

footer {
  text-align: center;
}
